<div class="container">
    <div class="row">
        <div class="col-md-4" *ngFor="let movie of card">
            <div class="movie-card">
                <img class="movie-poster" [src]="movie.poster" alt="Movie Poster">
                <div class="movie-info">
                    <h4 class="movie-title">{{ movie.title }}</h4>
                    <p class="movie-year">{{ movie.year }}</p>
                </div>
                <button class="remove-button" (click)="removeMovie(movie)" *ngIf="recommendedMovies != []">x</button>
            </div>
        </div>
    </div>
</div>